<.header>
  <%= String.capitalize(@project.project_name) %>
  <:subtitle><%= String.capitalize(@project.project_description) %></:subtitle>
  <:actions>
    <.link patch={~p"/projects/#{@project}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit project</.button>
    </.link>
  </:actions>
</.header>
<hr class="my-6" />
<.list>
  <:item title="Project name"><%= @project.project_name %></:item>
</.list>

<.header>
  Listing Tasks
  <:actions>
    <.link patch={~p"/tasks/new"}>
      <.button>New Task</.button>
    </.link>
  </:actions>
</.header>

<.back navigate={~p"/projects"}>Back to projects</.back>

<.modal
  :if={@live_action == :edit}
  id="project-modal"
  show
  on_cancel={JS.patch(~p"/projects/#{@project}")}
>
  <.live_component
    module={BeevsWeb.ProjectLive.FormComponent}
    id={@project.id}
    user_id={@current_user.id}
    title={@page_title}
    action={@live_action}
    project={@project}
    patch={~p"/projects/#{@project}"}
  />
</.modal>
